.slider-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev {
  left: 10px;
  transform: translateY(-50%);
}

.next {
  right: 10px;
  transform: translateY(-50%);
}
